.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.animalForm {
  max-width: 550px;
  width: 450px;
  margin: 0 auto;
  padding: 3rem 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;

  h2 {
    margin: 0rem auto 2rem auto;
  }
}

.formGroup {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formInput {
  width: 90%;
  margin: auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.submitButton {
  background-color: rgb(20, 14, 94);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 80%;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin: 2rem 2rem 0 2.5rem;
}

.submitButton:hover {
  background-color: #004a99;
}
